body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

.Banner-Wrapper {
    background-image: url(donate-today-main/images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 100px 0px;
}

.banner-text-Wrapper {
    width: 840px;
    margin: 20px auto;
    text-align: center;
    color: orange;
    background-image: red;
}

.banner-text-Wrapper p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.banner-text-Wrapper h1 {
    font-size: 65px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
}

.banner-text-Wrapper a {
    margin-top: 20px;
    text-decoration: none;
    background-color: #ff5959;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
}

.donate-field-Wrapper {
    width: 800px;
    margin: 80px auto;
}

.donate-field-Title {
    text-align: center;
    width: 700px;
    margin: 0px auto;
}

.donate-field-Title p {
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.donate-field-Title h1 {
    font-size: 45px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #000;
    margin-bottom: 0px;
}

.amount-box-Wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.box {
    width: 18%;
    padding: 23px 0px;
    text-align: center;
    background-color: #FAFAFA;
    border-radius: 5px;
}

.box h2 {
    color: #707070;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;

}

#box-two {

    border: 2px solid #ff5959;
    background-color: #FFEEEE;
    color: #ff5959;
}

.input-Amount {
    text-align: center;
}

.input-Amount input {
    width: 100%;
    border: 0px;
    height: 50px;
    border-bottom: 2px solid #c9c9c9;
    outline: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}

.input-Amount input::placeholder {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.input-Amount button {
    background-color: #ff5959;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

.donate-plane-Wrapper {
    width: 1130px;
    margin: 90px auto;
}

.plane-box-Wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

.plane-box {
    width: 29%;
    padding: 30px 20px;
    border-radius: 6px;

}

.plane-box h4 {
    font-size: 24px;
    font-weight: 600;
    color: #121212;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
}

.plane-box p {
    font-size: 16px;
    font-weight: 400;
    color: #707070;
    font-family: 'Poppins', sans-serif;
}

#plane-box_one {
    background-color: #4f9da621;
}

#plane-box_two {
    background-color: #ff59591e;
}

#plane-box_three {
    background-color: rgba(255, 244, 214, 1);
}

.donation-Bolg-Wrapper {
    width: 1030px;
    margin: 40px auto;
}

.donation-Blog {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 60px 0px;
}

.donation-Blog_left {
    width: 46%;
}

.donation-Blog_left p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 30px;
}

.donation-Blog_left h2 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
}

.donation-Blog_left a {
    background-color: #ff5959;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    border: 0px;
    text-decoration: none;
}

.donation-Blog_right {
    width: 45%;
}

.donation-Blog_right img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    margin-top: 20px;
}

.contact-Wrapper {
    width: 800px;
    margin: 50px auto;
}

.contact_form form {
    border-radius: 6px;
}

.contact_form .inputfield {
    width: 280px;
    height: 48px;
    background-color: #D9D9D9;
    padding: 0px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.contact_form .inputsubmit {
    width: 150px;
    height: 48px;
    background-color: #ff5959;
    color: #fff;
    margin-left: -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contact_form {
    display: flex;
    justify-content: center;
    padding: 90px 0px;
    background-color: #FFF4D6;

}

.contact_form input {
    outline: none;
    border: 0px;
    font-family: 'Inter', sans-serif;
}

.contact-Wrapper h1 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
}